html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  =================================================================================
                                     START
  =================================================================================
*/

body{
    background-color: #0f192b;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.CVHEADRER_LEFT{
    display: inline-flex;
    width: 50%;
    height: 5em;
    margin-top: 4em;
}
.CV a{
    font-size: 6em;
    margin: 0 0 0 50px;
    color: aqua;
    opacity: .40;
    text-decoration: none;
}
.CV a:hover{
    color: white;
}
.MPC{
    padding-top: 25px;
}
.MPC a{
    font-style: italic;
    font-size: 20px;
    color: aliceblue;
    opacity: .40;
}
.MPC a:hover{
    color: aqua;
}
.CVHEADER_RIGHT{
    display: inline-flex;
    float: right;
    width: 49%;
    height: 8.9em;
    
}
.CVHEADER_RIGHT a{
    width: 50px;
    height: 40px;
    border-radius: 50%;
    margin: 2em 10px 0 20em;
}
.facebook{
    width: 50px;
    height: 40px;
    border-radius: 50%;
}










.logo{
    background-color: black;
    margin: 0 0 0 0;
    width: 100%;
    height: 9em;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    border-left-style: none;
    border-right-style: none;
}
.PROFILE_PIC{
    height: 16em;
    object-position: center;
    margin-top: -4em;
    border-radius: 50%;
    border-style: solid;
    border-width: 12px;
    border-color: white;
    margin-left: 39%;;
    border-top-style: none;
    border-bottom-style: none;
}